html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	outline: none;
	text-decoration: none;
}

button {
	cursor: pointer;
}
.nav {
	display: flex;
	font-family: "Inter", sans-serif;
	justify-content: space-around;
	border-bottom: solid #e0e0e6 1px;
	padding: 10px;
	box-shadow: 0 0 1px 1px rgba(29, 17, 51, 0.04),
		0 0 3px 2px rgba(9, 32, 77, 0.12), 0 0 2px -3px rgba(29, 17, 51, 0.12);
	align-items: center;
}

.nav__menu {
	display: flex;
	align-items: center;
}

.nav__content {
	display: flex;
	align-items: center;
}

.nav__logo img {
	max-height: 32px;
}

.menu__item {
	padding: 2px 1px 0;
	color: black;
	font-size: 20px;
	font-weight: 700;
	padding: 16px;
}

.download {
	display: flex;
	align-items: center;
}

.nav__download-btn {
	background-color: white;
	color: #0060df;
	border-color: #0060df;
	border-radius: 5px;
	border-width: medium;
	font-size: 18px;
	font-weight: bolder;
	padding: 6px 24px;
	transition: background-color 1s, box-shadow 1s, color 0.1s;
}

.nav__download-btn:hover {
	background-color: #0060df;
	color: white;
	transition: background-color 1s, box-shadow 1s, color 0.1s;
}

.main {
	font-family: "Zilla Slab", serif;
}

#top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 96px 80px;
	gap: 20px;
}

.top__title {
	width: 920px;
}

.top__title h1 {
	font-size: 54px;
	text-align: center;
	font-weight: 700;
}

.top__description {
	width: 880px;
}

.top__description p {
	font-size: 30px;
	text-align: center;
	line-height: 1.4;
}

.quote {
	width: 100%;
	background-image: linear-gradient(
		90deg,
		#e8e7f2,
		#e5e9f5,
		#e2ebf7,
		#deedf8,
		#dbeff8,
		#daf0f7,
		#daf2f5,
		#daf3f3,
		#dcf4f1,
		#dff5ef,
		#e2f5ee,
		#e5f6ec
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Inter", sans-serif;
	gap: 20px;
	padding: 50px 0px;
}

.quote div {
	max-width: 880px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.quote__text {
	font-size: 20px;
	font-weight: 400;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 26px;
}

.quote__author {
	font-size: 18px;
	font-weight: 700;
}

#services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 96px 80px;
	gap: 20px;
}

.services__title {
	font-size: 2.75rem;
	text-align: center;
	font-weight: 700;
}

.services__products {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.products__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 300px;
	padding: 0 40px;
}

.products__item img {
	height: 50px;
}

.products__item h3 {
	font-family: "Inter", sans-serif;
	font-size: 19px;
	font-weight: 700;
	text-align: center;
}

.products__item-btn {
	background-color: white;
	color: #000000;
	border-color: #000000;
	border-radius: 5px;
	border-width: medium;
	font-size: 1.2rem;
	font-weight: bolder;
	padding: 6px 24px;
	transition: background-color 0.1s, box-shadow 0.1s, color 0.1s;
}

.products__item-btn:hover {
	background-color: #e0e0e6;
	transition: background-color 0.1s, box-shadow 0.1s, color 0.1s;
}

#blog {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	padding: 50px 80px;
}

hr {
	border-width: 1px;
	margin: 64px 0;
}

.blog__entry {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 80px;
}

.entry__img {
	width: 536px;
}

.entry__img img {
	width: 100%;
}

.entry__texts {
	display: flex;
	flex-direction: column;
	width: 536px;
	gap: 20px;
}

.entry__title {
	font-size: 38px;
	font-weight: 700;
}

.entry__text {
	display: flex;
	font-family: Inter;
	font-size: 20px;
	line-height: 2.2rem;
}

#vpn-info {
	width: 90%;
	margin: 50px auto;
}

.vpn__box {
	background-color: #e7dfff;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 24px 48px;
	gap: 20px;
}

.vpn__text {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.vpn__title {
	font-family: Inter;
	color: #7542e5;
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: 700;
}

.vpn__description {
	font-size: 1.75rem;
	font-weight: 700;
}

.outstanding {
	color: #7542e5;
}

#story {
	background-color: #f1f1f1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
	padding-top: 80px;
}

.story__title {
	font-size: 42px;
	text-align: center;
	font-weight: 700;
}

.story__texts {
	display: flex;
	flex-direction: column;
	font-family: Inter;
	font-size: 18px;
	max-width: 928px;
	line-height: 28px;
	gap: 20px;
}

.story__logo {
	width: 100px;
	overflow: hidden;
}

.story__logo img {
	max-width: 100%;
	margin-bottom: -20px;
}

.info-btn {
	background-color: #000000;
	color: #ffffff;
	border-color: #000000;
	border-radius: 5px;
	border-width: medium;
	font-size: 1.2rem;
	font-weight: bolder;
	padding: 6px 24px;
}

.blog__btn {
	align-self: flex-start;
}

.info-btn:hover {
	color: black;
	background-color: #e0e0e6;
	transition: background-color 0.1s, box-shadow 0.1s, color 0.1s;
}

#newsletter {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
	padding: 48px 64px;
}

.newsletter__info {
	max-width: 408px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.newsletter__info h2 {
	font-size: 38px;
	font-weight: 700;
}

.newsletter__info p {
	font-family: Inter;
	font-size: 16px;
	line-height: 24px;
}

.newsletter__form {
	width: 456px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.newsletter__form form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 12px;
}

.newsletter__form form label {
	font-family: Inter, X-LocaleSpecific, sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.newsletter__form form input {
	font-family: Inter;
	padding: 8px ;
	border-radius: 3px solid #9595a2;
}

.newsletter__form form button {
	width: 100%;
	padding: 8px;
}

.newsletter__form small {
	font-family: Inter;
	font-size: 12px;
}

.footer {
	width: 100%;
	background-color: #000000;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 24px;
}



@media only screen and (max-width: 480px) {
	body {
		background-color: #b39931;
	}
}
